# ==========================================================
# Python
# ==========================================================

.venv/
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Variables d'environnement
# ==========================================================

.env

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Cache Python
# ==========================================================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================================================
# Fichiers temporaires
# ==========================================================

temp/

# ==========================================================
# Système
# ==========================================================

Thumbs.db
.DS_Store
desktop.ini

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Logs
# ==========================================================

*.log

# Fichiers temporaires du projet
hyde_reranking_dataset.zip
structure_src.txt
data/query_rewriting/*.npy